<!DOCTYPE html>
<html lang="en">
<head>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'UA-108821978-1');
</script>

<title>Computer & Internet Security</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "ariel", sans-serif}
.w3-bar,h1,button {font-family: "ariel", sans-serif}

.booktitle { font-family: 'ariel', sans-serif; }

.country { color:blue; font-weight:bold; }
.state   { color:blue; font-weight:bold; }
</style>
</head>

<body class="w3-gray">

<!-- Navbar -->
<div class="w3-top">
  <!-- Navbar on large screens -->
  <div class="w3-bar w3-card w3-left-align w3-large w3-text-white w3-blue-gray">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" 
          href="javascript:void(0);" onclick="myFunction()" 
          title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a class="w3-bar-item w3-button w3-hide-small w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" 
          href="javascript:void(0);" onclick="myMediumFunction()" 
          title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>

    <!-- menu items (some of them will be hidden for medium/small screens -->
    <a href="{{ site.baseurl }}/index.html" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large w3-hover-white">Documents</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{ site.baseurl }}/item1.html" class="w3-bar-item w3-button">Item 1</a>
        <a href="{{ site.baseurl }}/item2.html" class="w3-bar-item w3-button">Item 2</a>
      </div>
    </div>
    <a href="{{ site.baseurl }}/chinese/index.html" 
          class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-padding-large w3-hover-white">Chinese</a>
    <a href="{{ site.baseurl }}/contact.html" 
          class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-padding-large w3-hover-white">Contact</a>
  </div>

  <!-- Navbar on medium screens -->
  <div id="navDemoMedium" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-small w3-large">
    <a href="{{ site.baseurl }}/index.html" class="w3-bar-item w3-button">Home</a>
    <a href="{{ site.baseurl }}/item1.html" class="w3-bar-item w3-button">Item 1</a>
    <a href="{{ site.baseurl }}/item2.html" class="w3-bar-item w3-button">Item 2</a>
    <a href="{{ site.baseurl }}/chinese/index.html" class="w3-bar-item w3-button">Chinese</a>
    <a href="{{ site.baseurl }}/author.html" class="w3-bar-item w3-button">Contact</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="{{ site.baseurl }}/index.html" class="w3-bar-item w3-button">Home</a>
    <a href="{{ site.baseurl }}/item1.html" class="w3-bar-item w3-button">Item 1</a>
    <a href="{{ site.baseurl }}/item2.html" class="w3-bar-item w3-button">Item 2</a>
    <a href="{{ site.baseurl }}/chinese/index.html" class="w3-bar-item w3-button">Chinese</a>
    <a href="{{ site.baseurl }}/author.html" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>

